<div class="side-menu">
    <nav>
      <ul>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-globe"></i>
          <span style="padding-left:12px;">Dashboard</span>
        </a>
      </ul>
      <ul>
        <a routerLink="/heroes" routerLinkActive="active">
          <i class="fa fa-th-list"></i>
          <span style="padding-left:12px;">Heroes</span>
        </a>
      </ul>
      <ul>
        <a routerLink="/basic-information" routerLinkActive="active">
          <i class="fa fa-forumbee"></i>
          <span style="padding-left:12px;">Form</span>
        </a>
      </ul>
      <ul>
        <a routerLink="/todoFirebase" routerLinkActive="active">
          <i class="fa fa-envelope"></i>
          <span style="padding-left:12px;">Messenger</span>
        </a>
      </ul>
    </nav>
  </div>