<div class="col-md-2 side-menu" style="position: fixed;">
    <nav>
      <ul>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-globe"></i>
          <span style="padding-left:12px;">Dashboard</span>
        </a>
      </ul>
      <ul>
        <a routerLink="/heroes">
          <i class="fa fa-th-list"></i>
          <span style="padding-left:12px;">Heroes</span>
        </a>
      </ul>
      <ul>
        <a routerLink="/basic-information">
          <i class="fa fa-forumbee"></i>
          <span style="padding-left:12px;">Form</span>
        </a>
      </ul>
      <ul>
        <a routerLink="/todoFirebase">
          <i class="fa fa-envelope"></i>
          <span style="padding-left:12px;">Messenger</span>
        </a>
      </ul>
    </nav>
  </div>