<div class="app-content">
  <mat-card>
    <button mat-button>FLAT</button>
    <button mat-raised-button>RAISED</button>
  </mat-card>
  <mat-card>
    <button mat-fab>
      <mat-icon class="mat-24">add</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon class="mat-24">add</mat-icon>
    </button>
  </mat-card>
  <mat-card>
    <button mat-raised-button color="primary">PRIMARY</button>
    <button mat-raised-button color="accent">ACCENT</button>
    <button mat-raised-button color="warn">WARN</button>
  </mat-card>
  <mat-card>
    <button mat-button disabled>OFF</button>
    <button mat-raised-button disabled>OFF</button>
    <button mat-mini-fab disabled>
      <mat-icon>check</mat-icon>
    </button>
  </mat-card>


  <!--<mat-progress-bar mode="determinate" value="myValue"></mat-progress-bar>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-progress-bar mode="buffer" value="myValue" bufferValue="myBufferValue"></mat-progress-bar>
<mat-progress-bar mode="query"></mat-progress-bar>-->

  <p> Input fields</p>
  <input matInput>

  <mat-button-toggle>Bold</mat-button-toggle>

  <mat-list>
    <mat-list-item> Pepper </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
  </mat-list>
</div>
