<div class="container col-mat-8">
  <mat-spinner *ngIf="show"></mat-spinner>

    <mat-nav-list>
      <mat-list-item *ngFor="let item of items | async">
         <a matLine>{{ item.$value }}</a>
         <button mat-icon-button (click)="delete(item.$key)">
            <mat-icon>&#10008;</mat-icon>
         </button>
      </mat-list-item>
    </mat-nav-list>
      
<br/><br/>
<form class="example-form">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter text" [(ngModel)]="textMessage" name="textMessage" #name="ngModel" required>
      </mat-form-field>
      <button type="submit" mat-raised-button  color="accent" (click)="myMessage(name.value)">SEND</button>
      
</form>
</div>
