<div *ngIf="hero">
              <md-card>
                <md-card-title><h2>{{hero.name}} details!</h2></md-card-title>
                <md-card-content>
                    <div><label>Id: {{hero.id}}</label></div>
                    <div>
                        <md-input [(ngModel)]="hero.name" placeholder="Name">
                        </md-input>
                    </div>
                 </md-card-content>
                 <md-card-actions>
                    <div>
                        <button md-raised-button color="warn" (click)="goBack()">Back</button>
                    </div>
                 </md-card-actions>
               </md-card>
              </div>