<div *ngIf="hero">
  <mat-card>
    <mat-card-title>
      <h2>{{hero.name}} details!</h2>
    </mat-card-title>
    <mat-card-content>
      <div>
        <label>Id: {{hero.id}}</label>
      </div>
        <mat-form-field>
          <input matInput [(ngModel)]="hero.name" placeholder="Name">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button color="warn" (click)="goBack()">Back</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
