<div class="col" style="margin: 30px;">
  <div class="row">
    <div bgcolor="006600" style="display:inline-block;">
      <b>
        <font color="FFFFFF">@ {{ name }} ----[{{bankroll}}]</font>
      </b>
      <div>
        <font face=times color="FFFFFF">
          CHEAT! {{ carda }} {{ cardb }}
        </font>
      </div>
      <table *ngIf="carda || cardb">
        <tr>
          <ngx-card [card]="carda"></ngx-card>
          <td></td>
          <ngx-card [card]="cardb"></ngx-card>
        </tr>
      </table>
      <font color="FFFFFF">{{ subtotal_bet }}</font>
    </div>
  </div>
</div>
