<div bgcolor=006600 topmargin=4 bottommargin=0>
  <pre>
        <b>
           <font size=+2>
           <font color=FFFFFF>@ You</font></font>
        </b> [500]<font size=-1 face=times color=006600>CHEAT! dQ c7</font>
    <table bgcolor=006600 height=87 width=130>
        <tr align=center>
            <td bgcolor=FFFFFF width=50%>
             <font size=+2 color=FF0000><b>Q</b></font> 
                <a href='http://google.com/' target=_blank>
                    <img src="assets/game-images/d.gif" border=0 title=d alt=d>
                </a>
            </td>
            <td></td>
            <td  bgcolor=FFFFFF width=50%>
                <font size=+2 color=000000><b>7</b></font> 
                <a href='http://google.com/' target=_blank>
                    <img src="assets/game-images/c.gif" border=0 title=c alt=c>
                </a>
            </td>
        </tr>
    </table>
    <small></small>
</pre>
</div>
