<div class="form-filling-options-modal do-the-center">
  <!-- Navbar -->
  <nav class="myImage" style="border-radius: 11px 0 0 11px;">
    <div class="text">
      <a class="row" id="nav-brand-chevron-left" (click)="cancel()">
        <img src="client/assets/images/iconScSArrowRight02.svg" class="icon_sc_s_arrow_right_02">
        <span class="go-back">GO BACK</span>
      </a>
    </div>
  </nav>


  <!-- Main Container -->
  <div class="container-fluid main-container" style="border-radius: 0 11px 11px 0;">
    <!-- Apply with existing CC -->
    <div class="login-form">
      <form>
        <h2 class="headerText">Login</h2>
        <div class="text-center">
          <input type="text" class="inputLine" placeholder="Username" required="required">
        </div>
        <div class="text-center">
          <input type="password" class="inputLine" placeholder="Password" required="required">
        </div>
        <div class="text-center">
          <button type="submit" class="buttonLogin">LOGIN</button>
          <button type="button" class="buttonGoogle" (click)="googleLogin()">Google +</button>
        </div>
      </form>
    </div>
  </div>
</div>
