
    <div class="col-md-12 navbar header navbar-fixed-top">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-1">
              <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          </div>
          <div class="col-sm-5 col-md-10 col-lg-11">
             {{title}}
          </div>
        </div>
    </div>


    <div class="row menu">
       <div id="mySidenav" class="sidenav"> 
        <div class="col-md-2 col-lg-3">
          <ul>
            <li><a class="active" routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/heroes">Heroes</a></li>
            <li><a routerLink="/todoFirebase">Todo with Firebase</a></li>
						<li><a routerLink="/login">Login</a></li>
          </ul>
        </div>
       </div>
        <div class="col-md-7 col-lg-6">
          <h1>The City</h1>
          <router-outlet></router-outlet>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="aside">
            <h2>What?</h2>
            <p>Chania is a city on the island of Crete.</p>
            <h2>Where?</h2>
            <p>Crete is a Greek island in the Mediterranean Sea.</p>
            <h2>How?</h2>
            <p>You can reach Chania airport from all over Europe.</p>
          </div>
         </div>
    </div> <!-- //closing row -->


    <!--<div class="col-sm-12 col-md-12 footer">
      <p>Resize the browser window to see how the content respond to the resizing.</p>
    </div>-->
<!--<div class="row">
              <div class="col-md-2">
              </div>
              
              <div class="col-md-9">
                <div class="aside">
                  <h2>What?</h2>
                  <p>Chania is a city on the island of Crete.</p>
                  <h2>Where?</h2>
                  <p>Crete is a Greek island in the Mediterranean Sea.</p>
                  <h2>How?</h2>
                  <p>You can reach Chania airport from all over Europe.</p>
                </div>
              </div>
            </div>-->

