<!-- <ngx-setting-root></ngx-setting-root> -->

<div class="oval">
  <ngx-pot-view></ngx-pot-view>
  <div *ngFor="let player of players" style="display:inline-block;">
    <ngx-player 
      [name]="player.name" 
      [bankroll]="player.bankroll" 
      [carda]="player.carda" 
      [cardb]="player.cardb" 
      [subtotal_bet]="player.subtotal_bet"
      [status]="player.status"
      [background]= "player.background">
    </ngx-player>
  </div>

  <ngx-general 
    *ngIf="isGeneralComponentOn"
    [players]="players">
  </ngx-general>
</div>



