<div class="row">
    <div class="col-md-12">
        <mat-form-field> 
           <input matInput type="search" [(ngModel)]="searchText" id="search" placeholder="Search">
        </mat-form-field>
    </div>
    <div class="col-md-12">
      <table class="table table-hover table-sm" style="background-color: white;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            
            <th scope="col">Id</th>
            <th scope="col">Email ID</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of search();let i=index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{ user.first_name }}</td>
            
            <td>{{ user._id }}</td>
            <td>{{ user.email}}</td>
            <td><button class="btn btn-danger">Amount pending</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  