<div style="margin: 30px;" [style.background-color]="background.base_background">
  <div class="row">
    <div  style="display:inline-block;height: 185px;width: 185px;">
      <b>
        <font color="FFFFFF">@ {{ name }} ----[{{bankroll}}]</font>
      </b>
      <div>
        <font face=times color="FFFFFF">
          CHEAT! {{ carda }} {{ cardb }}
        </font><br/>
        {{ background.base_background }}
      </div>
      <div class="row">
      <div class="col-md-8">
        <table>
          <tr>
            <span *ngIf="carda"><ngx-card [card]="carda"></ngx-card></span>
            <td></td>
            <span *ngIf="cardb"><ngx-card [card]="cardb"></ngx-card></span>
          </tr>
        </table>
      </div>
      <div class="col-md-2" *ngIf="button_index !== null">
          <i class="material-icons">eco</i>
      </div>
    </div>
      
      
      <font color="FFFFFF">{{ subtotal_bet }}-- {{ status }}</font>
    </div>
  </div>
</div>
