<div class="row">
	<div class="col-md-12">
			<mat-toolbar class="header-color">
					<button mat-icon-button	class="app-icon-button" (click)="sidenav.toggle()">
						<span><mat-icon class="material-icons app-toolbar-menu" aria-hidden="true">menu</mat-icon></span>
					</button> 
					   <mat-form-field>
						  <input type="text" matInput placeholder="Search"  id="search" name="search">
					   </mat-form-field>
					   <span class="app-toolbar-filler"></span>
						<div *ngIf = "viewLogout == true">
							<img class="img-circle" width="62" height="55" [src]="myPhotoUrl">
						</div>	
						<div *ngIf = "viewLogin == false">
								<button mat-button [routerLink]="['/login']">{{signInOut}}</button>
						</div>
						<div *ngIf = "viewLogout == true">
								<button mat-button (click)="logout()">Logout</button>
						</div>
			</mat-toolbar>
	</div>
</div>

<div class="container-fluid">
    <div class="row">
		<div class="col-md-2">
			<mat-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
				<nav>
					<ul><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></ul>
					<ul><a routerLink="/heroes">Heroes</a></ul>
					<ul><a routerLink="/material">Material Components</a></ul>
					<ul><a routerLink="/todoFirebase">Messenger</a></ul>
				</nav>
	        </mat-sidenav>
		</div>
		<div class="col-md-10">
			<div class="" style="padding-left: 15px;padding-top: 15px;">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>



<!-- <div class="col-md-2">
	
</div> -->