<mat-toolbar class="header-color">
  <div class="row headerWidth">
    <div class="col-md-2">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="col-md-8">
      <div style="float:right;">
        <input type="text" placeholder="Search" class="searchBox">
        <button mat-raised-button color="accent" class="searchBoxButton">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="viewLogout == true" class="col-md-2">
      <img class="img-circle" width="62" height="55" [src]="myPhotoUrl" (click)="infoModal()">
    </div>
    <div *ngIf="viewLogin == false" class="col-md-2">
      <button mat-button [routerLink]="['/login']" class="loginButton">{{login}}</button>
    </div>
    <!-- <div *ngIf = "viewLogout == true" class="col-md-2">
										<button mat-button (click)="logout()" style="float: right;">Logout</button>
								</div> -->
  </div>
</mat-toolbar>

<div class="row">
  <div class="col-md-2 sideMenu">
    <nav>
      <ul>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </ul>
      <ul>
        <a routerLink="/heroes">Heroes</a>
      </ul>
      <ul>
        <a routerLink="/material">Material Components</a>
      </ul>
      <ul>
        <a routerLink="/todoFirebase">Messenger</a>
      </ul>
    </nav>

  </div>
  <div class="col-md-10">
    <div class="mainMenu">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
