.form-filling-options-modal {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
}

.main-container {
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1000;
  position: relative;
  float: left;
  height: 600px;
  width: 526px;
  background-color:white;
}

.headerText {
  margin-top: 110px;
  margin-left: 184px;
  width: 212px;
  height: 45px;
  font-family: SCSans;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #000000;
}

.inputLine {
  width: 370px;
  height: 60px;
  border: none;
  border-bottom: solid 1px #e6e6e6;
}

.buttonLogin {
  margin-top: 60px;
  width: 370px;
  height: 54px;
  background-color: #00a546;
  font-family: SCSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.buttonGoogle {
  margin-top: 20px;
  width: 370px;
  height: 54px;
  background-color: #a50029;
  font-family: SCSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
}

#nav-brand-chevron-left {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.icon_sc_s_arrow_right_02 {
  width: 12px;
  height: 16px;
  object-fit: contain;
  transform: rotate(180deg);
  color: #000000;
}

.go-back {
  width: 60px;
  height: 14px;
  font-family: SCSans;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #000000;
}

.preference {
  width: 442px;
  height: 47px;
  font-family: SCSans;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 200px;
}

.myImage {
  position: relative;
  width: 626px;
  height: 600px;
  background-color:white;
  margin-bottom: 0px;
  z-index: 100;
  float: left;
}

.myImage .text {
  position: absolute;
  padding-left: 20px;
  color: black;
  padding-top: 20px;
}
