<div topmargin=7 bottommargin=0 vlink=0000FF bgcolor=006600>
  <pre>
    <b><font size=+2>Options</font></b>
    <a href='javascript:parent.change_name()'>Your name</a>
    <form>Speed 
        <select onchange='parent.set_speed(options[selectedIndex].value,selectedIndex);'>
            <option value='2'>1
            <option value='1' selected>2
            <option value='.6'>3
            <option value='.3'>4
            <option value='0'>5
        </select>
    </form>
    <a target=_blank href="http://rawdataserver.com/poker/help.html">Help</a>
    </pre>
</div>
