<div topmargin=2 bottommargin=0 bgcolor=EFEF30 onload='document.f.c.focus();'>
    <table>
        <tr>
            <td>
                <font color=00EE00 size=+1><b>Pot Value: 395</b></font>
            </td>
        </tr>
    </table>
    <br>
    <font size=+1 color=00EE00><b>WINNER! Two Pair. 395 to Gus Handsome. </b></font> 
    (<a href='javascript:alert("You bet 140 & got 0.\nTonya Bonya bet 75 & got 0.\nGus Handsome bet 140 & got 395.\nStan Deman bet 10 & got 0.\nKarth Kerai bet 30 & got 0.\n")'>details</a>)
    <br>
    <form name=f>
        <input name=c type=button value='Continue Game' onclick='parent.new_round()'>
        <input type=button value='Restart Game' onclick='parent.confirm_new()'>
        <input type=button value=Quit onclick='parent.confirm_quit()'>
    </form>
</div>