<div class="row">
  <div class="offset-md-9"></div>
  <font color="00EE00" size="+1">
    <b>Player name ({{ players[0].name }}) ----Current total bet: 10</b><br> 
    You need <font color="FF0000" size="+3">10</font>more to call.</font>
</div>

<div class="row">
  <div class="offset-md-9"></div>
  <div class="col-md-1">
    <button type="button" class="btn btn-danger" name="c" (click)="human_call(players)" style="width: 76px;">Call</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-info" (click)="human_raise(players)" style="width: 76px;">Raise</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-warning" (click)="human_fold(players)" style="width: 76px;">Fold</button>
  </div>
</div>



<!-- <table>
    <tbody>
      <tr>
        <td colspan="2">
          <font color="00EE00" size="+1"><b>TOTAL POT: 25</b></font>
        </td>
      </tr>
      <tr>
        <td>
          <font size="+1"><b>Current total bet: 10</b><br> You need <font color="FF0000" size="+3">10</font> more to
            call.</font>
          
        </td>
        <td valign="bottom">

          <table bgcolor="006600">
            <tbody>
              <tr>
                <td align="center"><b>Quick Raises</b><br><a href="javascript:parent.handle_human_bet(10)">10</a>&nbsp;&nbsp;&nbsp;<a
                    href="javascript:parent.handle_human_bet(20)">20</a>&nbsp;&nbsp;&nbsp;<a href="javascript:parent.handle_human_bet(40)">40</a>&nbsp;&nbsp;&nbsp;<a
                    href="javascript:parent.handle_human_bet(60)">60</a>&nbsp;&nbsp;&nbsp;<a href="javascript:parent.handle_human_bet(80)">80</a>&nbsp;&nbsp;&nbsp;<a
                    href="javascript:parent.handle_human_bet(100)">100</a>&nbsp;&nbsp;&nbsp;<a href="javascript:parent.handle_human_bet(500)">All
                    In!</a>
                  <form onsubmit="parent.handle_human_bet(b.value);return false;">
                    <font size="+2">&nbsp;</font>
                    <input type="text" size="4" name="b"><input type="submit" value="Raise">
                  </form>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table> -->
