<div class="row">
    <div class="col-md-12">
      <ngx-header></ngx-header> 
    </div>
</div>

<div class="row" style="margin-top: 7px;">
    <div class="col-md-2" style="padding-right: 24px;">
      <!-- <ngx-sidebar></ngx-sidebar> -->

      <div class="side-menu">
        <nav>
          <ul>
            <a [routerLink]="['profile']" routerLinkActive="active">
              <i class=""></i>
              <span style="padding-left:12px;">Profiles</span>
            </a>
          </ul>
        </nav>
      </div>

    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
</div>